

#board{
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
}

.white {
   background-color: #f0dab5;
}
.black {
   background-color: #b58763;
}
@media (prefers-color-scheme: dark) {
   .white {
      background-color: #f0dab5 !important;
   }
   .black {
      background-color: #b58763;
   }
}
@media (prefers-color-scheme: light) {
   .white {
      background-color: #f0dab5;
   }
   .black {
      background-color: #b58763;
   }
}
